body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.banner {
    background-color: brown;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card_title {
    background-color: brown;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
}

.card-text {
    font-family: 'Roboto Condensed', sans-serif;
}

